<html>
    <head>
        <title>MediaBundle Test Application</title>
    </head>
    <body>
        <section id="header">
            <img src="/images/logo-horizontal.png"/>
            <h1>MediaBundle Test Application</h1>
        </section>
        <nav>
            <ul>
                <li>Goto <a href="/">Home</a></li>
            </ul>
        </nav>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>
